main {
    background: #88a4c6;
    /*---下部固定部分の領域空ける---*/
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.Log { 
    background: dodgerblue;
}

/* ----------------------
  入力領域に関して
---------------------- */
.fixedBottom {
    width: 100%;
    height: 50px;
    background: white;
    /*---下部に固定---*/
    position: absolute;
    bottom: 0;
}
form,input {
    width: 95%;
    height: 100%;
}
button {
    position: absolute;
    width: 10%;
    height: 100%;
}
/* ----------------------
  formのラベル削除
---------------------- */
label {
    display: none
}
