{% extends "base/index.html" %}
{% load static %}
{% block title %}LogIn{% endblock %}
{% block cssJs %}<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}">{% endblock %}
{% block content %}
  <div class="tittle-section-parent">
    <div class="tittle-section-item">
      <h1>健康促進アプリ</h1>
    </div>
  </div>
  <!-- ログインフォーム -->
  <div class="post-section-parent">
    <div class="post-section-item">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">ログイン</button>
      </form>
    </div>
    <!-- パスワード再設定アイコン -->
    <div class="password-reset">
      <a href="{% url 'password_reset' %}"><i class="fas fa-hammer fa-2x float-left"></i></a>
    </div>
    <!-- アカウント作成アイコン -->
    <div class="create-account">
      <a href="#"><i class="far fa-plus-square fa-2x float-right"></i></a>
    </div>
  </div>
{% endblock %}