{% extends "base/base.html" %}
<!-- 静的ファイルの読み込み -->
{% load static %}

<!-- tittle表示 -->
{% block title %}PasswordChage{% endblock %}

<!-- bootstrapとJquery以外の静的ファイル読み込み  -->
{% block css_js %}<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/password_reset_done.css' %}">{% endblock %}

<!--body内のマークアップ -->
{% block content %}
　<h1>パスワードリセットを送信しました</h1>
　<p>入力されたメールアドレスを持つアカウントが存在する場合、パスワードを設定するためのメールを送信しました。すぐに受け取る必要があります。</p>
　<p>メールが届かない場合は、登録したメールアドレスを入力したか確認し、スパムフォルダに入っていないか確認してください。</p>
{% endblock %}
