{% extends "base/index.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block cssJs %}<link rel="stylesheet" type="text/css" href="{% static 'base/css/home.css' %}">{% endblock %}
{% block content %}
  <div class="back-section">
    <!-- リンクリスト -->
    <div class="link-section">
      <!-- todoリンク -->
      <div class="todo-img-section">
        <a href=" {% url todo %}">
          <img src="../../static/base/img/todo.jpg" alt="todoへ">
        </a>
      </div>
      <!-- chatリンク -->
      <div class="chat-img-section">
        <a href=" {% url chat %}">
          <img src="../../static/base/img/chat.png" alt="chatへ">
        </a>
      </div>
    </div>    
  </div>
{% endblock %}
