<!DOCTYPE html>
{% load static %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'base/css/index.css' %}">
  {% block cssJs %}{% endblock %}
</head>

<body>
<script src="https://kit.fontawesome.com/8a4e8c2d57.js" crossorigin="anonymous"></script>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
