/*--------------通常スマホ-----------------*/

body {
    background: #ecedef;
    text-align: center;
}

h1 {
    color: #00b900;
    padding: 10% 0;
    font-size: x-large;
    margin-bottom: unset;
}
p {
     padding: 0 15px;
}