/*--------------通常スマホ-----------------*/

body {
    background: #ecedef;
    text-align: center;
}

h1 {
    color: #00b900;
    padding: 20% 0;
    font-size: x-large;
    margin-bottom: unset;
}

.btn {
    background-color: #00b900;
    color: white;
    margin: 20%;
}

.post {
    padding-top: 10%;
}

form>p {
    margin: 5%;
}

ul {
    list-style: none;
}



/*----------------スマホ横画面--------------------*/

@media (orientation: landscape)and (max-width: 1000px) {

    h1 {
        padding: 5% 0;
    }
    .btn {
        margin: 10%;
    }
    .post {
        padding-top: 5%;
    }
    form>p {
        margin: 2%;
    }
}

/*-----------------iPad横用-----------------*/

@media (orientation: landscape) and (min-width: 1000px) {

    h1 {
        padding: 8%;
    }
    .btn {
        margin: 15%;
    }
}
