/*--------------通常スマホ-----------------*/

body {
    background: #ecedef;
    text-align: center;
}

h1 {
    color: #00b900;
    padding: 5%;
    font-size: x-large;
}

.btn {
    background-color: #00b900;
    color: white;
    margin: 15%;
}

form>p {
    margin: 5%;
}

ul {
    padding: unset;
    list-style: none;
}

.col-12 {
    padding: unset;
}

/*----------------スマホ横画面--------------------*/

@media (orientation: landscape)and (max-width: 1000px) {

    h1 {
        padding: 7%;
    }
}

/*-----------------iPad横用-----------------*/

@media (orientation: landscape) and (min-width: 1000px) {

    h1 {
        padding: 8%;
    }
    .btn {
        margin: 15%;
    }
}
